/* SPDX-License-Identifier: MPL-2.0 */

.tabbrowser-tab[data-customlabel] {
  .tab-label::before {
    content: var(--customlabel);
    font-size: 1rem;
  }
  .tab-label {
    font-size: 0;
  }
}

/* Style for the rename input */
.tab-rename-input {
  margin: 0;
  min-width: 0;
  flex: 1;
}
